* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

#titulo-header p {
    font-size: 22px;
    font-weight:bold;
}

.texto-pequeno {
    color: red;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}


#menu-header {
    display: flex;
    gap: 10px;
}

#menu-header p{
    font-size: 20px;
}

main {
    padding: 10px;
}

#hero {
    background-color: rgb(250, 208, 215);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#texto-hero h1{
    font-size: 30px;
}

#texto-hero p{
    font-size: 18px;
}

#img-hero img{
    width: 350px;
    padding-top: 10px;
}

body {
    background-color: rgb(255, 255, 255);
}

#galeria-texto {
    margin-top: 50px;
}

.card {
    background-color: rgb(250, 216, 216);
    width: 30%;
    margin-top: 20px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    margin-top: 20px;
}

#galeria-imgs {
    display:flex;
    gap: 10px;
    justify-content: space-between;
    align-items: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

#footer {
    margin-top: 10px;
}
