* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 240, 243)
}

header  {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
    margin: 10px;
    border-radius: 20px;
}

#menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-header a {
    margin-right: 18px;
}

a {
    color: rgb(204, 94, 112)
}

main {
    padding: 30px;
}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(253, 208, 225);
    border-radius: 20px;
}

#texto-hero {
    margin: 10px;
}

#texto-hero h1 {
    font-size: 26px;
}

#texto-hero p {
    font-size: 16px;
}

#img-hero img {
    width: 350px;
    padding: 10px;
    border-radius: 20px;
}

#galeria-texto {
    margin-top: 50px;
}


.card {
    width: 30%;
    margin-top: 20px;
}

.card img {
    width: 100%;
    margin-bottom: 20px;
}

#galeria-imgs {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

#footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

#curiosidades {
    margin: 20px;
}

#curiosidades p {
    padding-bottom: 10px;
}